{% extends '../layouts/base.html' %}
{% block title %} User Listing {% endblock %}

{% block page_title %} User Listing {% endblock %}

{% block content %}
    <div>
        <div class="row mb-3">
            <div class="col-md-4 d-flex">
                <form action="" method="GET" class="d-flex">
                    {% csrf_token %}
                    <input type="text" name="search" class="form-control" placeholder="Search / fullname / email / phone">
                    <button class="btn btn-primary">Search</button>
                </form>
            </div>
            <div class="col-md-6">
                <a href="{% url 'user:auth_register' %}" class="btn btn-success">Add new</a>
            </div>
        </div>
    </div>
    <table class="shadow table table-border">
        <thead>
            <tr>
                <th>Profile</th>
                <th>Full name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Admin</th>
                <th>Customer</th>
                <th>Staff</th>
                <th>Verify</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th>
                    {% if user.profile.url is not NULL %}
                    <img src="{{ user.profile.url }}" alt="{{user.profile}}" style="width:100px;">
                    {% else %}
                        <img src="../../media/user/avatar.png" alt="image" style="width:100px;">
                    {% endif %}
                </th>
                <td>{{ user.fullname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>
                    <input type="checkbox" name=""  disabled {% if user.is_admin == 1 %} checked {% endif %}>
                </td>
                <td>
                    <input type="checkbox" name=""  disabled {% if user.is_customer == 1 %} checked {% endif %}>
                </td>
                <td>
                    <input type="checkbox" name=""  disabled {% if user.is_staff == 1 %} checked {% endif %}>
                </td>
                <td>
                    <input type="checkbox" name=""  disabled {% if user.is_verified == 1 %} checked {% endif %}>
                </td>
                <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'user:auth_view' user.id %}">View</a></li>
                        <li><a class="dropdown-item" href="#">Update</a></li>
                        <li><a class="dropdown-item" href="#">Delete</a></li>
                      </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock%}