<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- style CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'manage_store/css/style.css' %}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    {% block css %}{% endblock %}
</head>
<body>

<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
        <div class="sidebar-brand">
            <a>World Shop</a>
            <div id="close-sidebar">
            <i class="fa fa-times"></i>
            </div>
        </div>
        <div class="sidebar-header">
            <div class="user-pic">
                {% if user.is_authenticated %}
                    {% if user.profile %}
                        <img src="{{ user.profile.url }}" alt="photo">
                    {% else %}
                        <img src="../../media/user/avatar.png" alt="photo">
                    {% endif %}
                {% else %}
                    <img src="../../media/user/avatar.png" alt="photo">
                {% endif %}
            </div>
            <div class="user-info">
            <span class="user-name">
                <strong>
                    {% if user.is_authenticated %}
                        {{ user.fullname }}
                    {% else %}
                        Unknow
                    {% endif %}
                </strong>
            </span>
            <span class="user-status">
                <i class="fa fa-circle"></i>
                <span>Online</span>
            </span>
            </div>
        </div>
        <!-- sidebar-header  -->
        <div class="sidebar-search">
            <div>
            <div class="input-group">
                <input type="text" class="form-control search-menu" placeholder="Search...">
                <div class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
                </div>
            </div>
            </div>
        </div>
        <!-- sidebar-search  -->
        <div class="sidebar-menu">
            <ul>
                <li class="header-menu">
                    <span>General</span>
                </li>
                <li class="sidebar-dropdown active">
                    <a href="{% url 'manage_store:dashboard' %}"><i class="fa fa-tachometer-alt"></i><span>Dashboard</span></a>
                </li>
                <li class="sidebar-dropdown">
                    <a href="#">
                    <i class="fa fa-file"></i>
                    <span>Report</span>
                    </a>
                </li>
                <li class="sidebar-dropdown arrow">
                    <a href="#">
                    <i class="fa fa-users"></i>
                    <span>Users</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li><a href="{% url 'user:auth_register' %}">Create</a></li>
                            <li><a href="{% url 'user:auth_listing' %}">Listing</a></li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown arrow">
                    <a href="#">
                    <i class="fa fa-sitemap"></i>
                    <span>Product</span>
                    </a>
                    <div class="sidebar-submenu">
                    <ul>
                        <li><a href="{% url 'manage_store:create_product' %}">Create</a></li>
                        <li><a>Listing</a></li>
                    </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown arrow">
                    <a href="#">
                    <i class="fa fa-list"></i>
                    <span>Category</span>
                    </a>
                    <div class="sidebar-submenu">
                    <ul>
                        <li><a>Create</a></li>
                        <li><a>Listing</a></li>
                    </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown">
                    <a href="{% url 'user:auth_logout' %}">
                    <i class="fa fa-sign-out-alt"></i>
                    <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
        <a href="#">
            <i class="fa fa-bell"></i>
            <span class="badge badge-pill badge-warning notification">3</span>
        </a>
        <a href="#">
            <i class="fa fa-envelope"></i>
            <span class="badge badge-pill badge-success notification">7</span>
        </a>
        <a href="#">
            <i class="fa fa-cog"></i>
        </a>
        <a href="#">
            <i class="fa fa-power-off"></i>
        </a>
        </div>
    </nav>

    <main class="page-content">
        <div class="page-title">
            <p>
                {% block page-title %}
                {% endblock %}
            </p>
        </div>
        <div class="content">
            <div class="shadow p-3 text-center" style="background: #7ec9c8;border-radius: 8px;margin-bottom: 50px;">
                <h3 class="m-0">{% block page_title %}{% endblock %}</h3>
            </div>
            {% block content %}{% endblock %}
        </div>
    </main>

</div>


 <!-- jquery  -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- bootstrap 5-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" ></script>

  <!-- custom js -->
  <script src="{% static 'manage_store/js/javascript.js' %}"></script>
  {% block js %}{% endblock %}
</body>
</html>