{% extends '../layouts/base.html' %}
{% block title %} Create Category {% endblock %}

{% block page_title %} Create Category {% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="white_card card_height_100 mb_30">
            <h3 class="">Fill out the form</h3>
            <div class="white_card_body">
                <!-- {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                {% for msg in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ msg }}
                    </div>
                {% endfor %} -->
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="row mb-3 ">
                        <div class="col-md-6">
                            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                            {{ form.name }}
                            {% if form.name.errors %}
                                <small class="text-danger">{{ form.name.errors }}</small>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <label for="{{ form.slug.id_for_label }}">{{ form.slug.label }}</label>
                            {{ form.slug }}
                            {% if form.slug.errors %}
                                <small class="text-danger">{{ form.slug.errors }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}
