{% extends '../layouts/base.html' %}
{% block title %} Category view {% endblock %}

{% block page_title %} Category View {% endblock %}

{% block content %}
    <div class="custom-shadow">
        <div class="bg-white px-3 mb-3 custom-shadow">
            <div class="d-flex align-items-center justify-content-between border-bottom">
                <p class="py-2 m-0">Category Name</p>
                <p class="py-2 m-0">{{ category.name }}</p>
            </div>
            <div class="d-flex align-items-center justify-content-between border-bottom">
                <p class="py-2 m-0">Category Slug</p>
                <p class="py-2 m-0">{{ category.slug }}</p>
            </div>
        </div>
    </div>
    <a class="btn btn-secondary" href="{% url 'manageStores:category_listing' %}">Cancel</a>
{% endblock%}
