{% extends '../layouts/base.html' %}
{% block title %} User Listing {% endblock %}

{% block page_title %} User Listing {% endblock %}

{% block content %}

    <div class="d-flex justify-content-between mb-3">
        <form action="" method="GET" class="d-flex" style="width:47%;">
            {% csrf_token %}
            <input type="text" name="search" class="form-control" placeholder="Search / fullname / email / phone" value="{{ search }}">
            <select name="role" class="form-select mx-3">
                <option value="">Role</option>
                <option value="admin">Admin</option>
                <option value="customer">Customer</option>
                <option value="staff">Staff</option>
                <option value="active">Active</option>
            </select>
            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
        </form>
        <a href="{% url 'user:auth_register' %}" class="btn btn-success"> <i class="fas fa-plus"></i> Add new</a>
    </div>
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong><i class="fa fa-exclamation"></i></strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong><i class="fa fa-exclamation"></i></strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}

    {% if users %}
        <h5>User found : {{ users|length }}</h5>
        <div class="table-responsive custom-shadow">
            <table class="custom-table bg-white">
                <thead>
                    <tr>
                        <th>Profile</th>
                        <th>User</th>
                        <th>Admin</th>
                        <th>Customer</th>
                        <th>Staff</th>
                        <th>Active</th>
                        <th>Date Joined</th>
                        <th>Last Login</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr class="border-bottom">
                            <th>
                                {% if user.profile.url is not NULL %}
                                    <img src="{{ user.profile.url }}" alt="{{user.profile}}" style="width: 70px;height: 70px;object-fit: cover;">
                                {% else %}
                                    <img src="../../media/user/avatar.png" alt="image" style="width: 70px;height: 70px;object-fit: cover;">
                                {% endif %}
                            </th>
                            <td>
                                full name: <b>{{ user.fullname }}</b> 
                                {% if request.user.is_authenticated %}
                                    {% if request.user.id == user.id %}
                                    <span class="badge rounded-pill bg-success">It's you</span>
                                    {% endif %}
                                {% endif %}
                                <br>
                                email : <b>{{ user.email }}</b> <br>
                                phone : <b>{{ user.phone }}</b>
                            </td>
                            <td>
                                <div class="form-switch">
                                    <input class="form-check-input" type="checkbox" name=""  disabled {% if user.is_admin %} checked {% endif %}>
                                </div>
                            </td>
                            <td>
                                <div class="form-switch">
    
                                    <input class="form-check-input" type="checkbox" name=""  disabled {% if user.is_customer %} checked {% endif %}>
                                </div>
                            </td>
                            <td>
                                <div class="form-switch">
    
                                    <input class="form-check-input" type="checkbox" name=""  disabled {% if user.is_staff %} checked {% endif %}>
                                </div>
                            </td>
                            <td>
                                <div class="form-switch">
    
                                    <input class="form-check-input" type="checkbox" name=""  disabled {% if user.is_active %} checked {% endif %}>
                                </div>
                            </td>
                            <td>{{ user.date_joined|date:"d M,Y / h:i a" }}</td>
                            <td>{{ user.last_login|date:"d M,Y / h:i a" }}</td>
                            <td>
                                <div class="d-flex">
                                    <a class="action-item" href="{% url 'user:auth_view' user.id %}" title="View"><i class="fa fa-eye"></i></a>
                                    <a class="action-item" href="{% url 'user:auth_update' user.id %}" title="Update"><i class="fa fa-edit"></i></a>
                                    {% with url="user:auth_delete" id=user.id modal_index=user.id %}
                                    <a href="#" class="text-danger action-item"  onclick="openModal('{{ user.id }}')" title="Delete"><i class="fas fa-trash-alt"></i></a>
                                        {% include 'backEnd/Modal/modal.html' with url=url id=id modal_index=modal_index %}
                                    {% endwith %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="bg-white p-2">
            <h5 class="text-center">No user found.</h5>
        </div>
    {% endif %}
        
{% endblock%}

{% block script %}
<!-- use of modal box -->
<script>
    function openModal(modal_index) {
        var formModal = $(`.modal-${modal_index}`);
            formModal.toggleClass('show');
    }
</script>
{% endblock %}